Repository geotribu/site-contribuer, changes with the labels that .github/labeler.yml gives for each.
All labels: articles, dependencies, géocapot, mkdocs

retirer liste types
  content/guides/admonition.md
Labels: none

ajout alignement
  content/guides/admonition.md
Labels: none

ajout mentiongithub hedgedoc
  content/guides/admonition.md
Labels: none

Ajout guide admonitions (#89)
  content/guides/.pages
  content/guides/admonition.md
Labels: mkdocs

chore(deps): MAJ dépendances
  requirements-free.txt
  requirements-insiders.txt
  requirements.txt
Labels: dependencies

tooling: finalisation de la page sur le seo et monitoring
  content/internal/seo_monitoring.md
Labels: géocapot

tooling: seo et monitoring
  content/internal/seo_monitoring.md
Labels: géocapot

Update content/internal/seo_monitoring.md
  content/internal/seo_monitoring.md
Labels: géocapot

feature(analytics): ajoute le code de suivi Matomo
  .github/workflows/deploy.yml
  content/theme/partials/integrations/analytics/matomo.html
  mkdocs-free.yml
  mkdocs.yml
Labels: mkdocs

fix(analytics): déplace la config matomo au bon endroit...
  .github/workflows/deploy.yml
  config/extra_analytics.yml
  mkdocs-free.yml
  mkdocs.yml
Labels: mkdocs

fix(analytics): change le nom du cookie
  mkdocs-free.yml
  mkdocs.yml
Labels: mkdocs

update(guide): lie vers la page des encarts
  content/guides/markdown_basics.md
Labels: none

chore(deps): MAJ le thème
  requirements-insiders.txt
Labels: none

chore(deps): MAJ thème
  requirements-insiders.txt
Labels: none

ajout lien vers qtribu
  content/rdp/add_news.md
Labels: none

Update requirements.txt
  requirements.txt
Labels: dependencies

cleanup: remove refs to pad
  config/extra_social.yml
  content/rdp/create_rdp.md
Labels: mkdocs

update(deps): MAJ theme
  requirements-insiders.txt
Labels: none

Update seo_extraits_enrichis.md
  content/internal/seo_extraits_enrichis.md
Labels: géocapot

update(chore): upgrade theme
  requirements-insiders.txt
Labels: none

update(chore): upgrade theme
  requirements-insiders.txt
Labels: none

fix(mermaid): use <br> instead of \n to use new line
  content/internal/git_hooks_precommit.md
Labels: géocapot

update(chore): upgrade theme
  requirements-free.txt
  requirements-insiders.txt
Labels: none

update(tooling): bump to Python 3.12
  Dockerfile
Labels: none

guide: routine de nouvelle année
  content/internal/nouvelle_annee.md
Labels: géocapot

update(guide): achève le guide de nouvelle année
  content/internal/nouvelle_annee.md
Labels: géocapot

fix(markdown): yml is not a recgnized highlight code
  content/internal/nouvelle_annee.md
Labels: géocapot

Update guide gource pour 2024
  content/internal/video_contributions_gource.md
Labels: géocapot

update(tooling): add Markdown checkbox extension to VS Code config
  .vscode/extensions.json
Labels: none

add(ci): ajoute le fichier de redirection
  scripts/redirect.html
Labels: none

add(ci): active la génération de sites temporaires de prévisualisation des PRs
  .github/workflows/pr_cleaner_post_merge.yml
  .github/workflows/pr_preview_netlify.yml
Labels: none

add(ci): corrige les variables d'env
  .github/workflows/pr_checker_build.yml
Labels: none

Update guide gource pour 2024 (#114)
  content/internal/video_contributions_gource.md
Labels: géocapot

add(guide): comment préparer la relecture d'un article
  content/articles/.pages
  content/articles/prereview.md
Labels: articles, mkdocs

update(guide): ajout schéma du workflow général de publication d'un article
  content/articles/workflow.md
Labels: articles

update(guide): MAJ réseaux sociaux pour la diffusion
  content/articles/publish.md
Labels: articles

update(guide): supprime l'étape diffusion (en doublon)
  content/articles/workflow.md
Labels: articles

fix(entete): supprime la mauvaise illustration de la page héberger
  content/guides/cdn-images-hebergement.md
Labels: none

add(workflow): ajout page relecture
  content/articles/.pages
  content/articles/review.md
  content/articles/workflow.md
Labels: articles, mkdocs

update(requirements): met à jour la version de mkdocs-material-insiders à 9.5.50-insiders-4.53.15
  requirements-insiders.txt
Labels: none

.github/labeler.yml:

articles:
    - changed-files:
          - any-glob-to-any-file:
                - content/articles/**/*.md

dependencies:
    - changed-files:
          - any-glob-to-any-file:
                - requirements/*.txt
                - requirements.txt

géocapot:
    - changed-files:
          - any-glob-to-any-file:
                - content/internal/**/*

mkdocs:
    - changed-files:
          - any-glob-to-any-file:
                - config/**
                - content/**/*.pages
                - hooks/**
                - mkdocs*.yml

outillage:
    - changed-files:
          - any-glob-to-any-file:
                - .devcontainer/**
                - .github/**
                - .pre-commit-config.yaml
                - .vscode/**/*
                - .docker
                - .lincheckrrc
                - .mailmap
                - .markdownlint*
                - docker*
                - Dockerfile
                - scripts/**
    - head-branch:
          - ^ci
          - ci
          - ^tooling
          - tooling

rdp:
    - changed-files:
          - any-glob-to-any-file:
                - content/rdp/**/*.md
    - head-branch:
          - ^rdp
          - rdp

thème:
    - changed-files:
          - any-glob-to-any-file:
                - content/theme/**/*
                - requirements-insiders.txt
    - head-branch:
          - theme
          - ^theme
