Repository geotribu/site-contribuer, changes with the labels that .github/labeler.yml gives for each.
All labels: articles, dependencies, géocapot, mkdocs

.github/labeler.yml:

articles:
    - changed-files:
          - any-glob-to-any-file:
                - content/articles/**/*.md

dependencies:
    - changed-files:
          - any-glob-to-any-file:
                - requirements/*.txt
                - requirements.txt

géocapot:
    - changed-files:
          - any-glob-to-any-file:
                - content/internal/**/*

mkdocs:
    - changed-files:
          - any-glob-to-any-file:
                - config/**
                - content/**/*.pages
                - hooks/**
                - mkdocs*.yml

outillage:
    - changed-files:
          - any-glob-to-any-file:
                - .devcontainer/**
                - .github/**
                - .pre-commit-config.yaml
                - .vscode/**/*
                - .docker
                - .lincheckrrc
                - .mailmap
                - .markdownlint*
                - docker*
                - Dockerfile
                - scripts/**
    - head-branch:
          - ^ci
          - ci
          - ^tooling
          - tooling

rdp:
    - changed-files:
          - any-glob-to-any-file:
                - content/rdp/**/*.md
    - head-branch:
          - ^rdp
          - rdp

thème:
    - changed-files:
          - any-glob-to-any-file:
                - content/theme/**/*
                - requirements-insiders.txt
    - head-branch:
          - theme
          - ^theme

theme: MAJ en dernière version
  requirements-insiders.txt
Labels: none

tooling: fix markdownlint rule 24
  .markdownlint.json
Labels: none

Ajout bloc auteur dans workflow article
  content/articles/workflow.md
Labels: articles

Update content/articles/workflow.md
  content/articles/workflow.md
Labels: articles

Modif lien relatif
  content/articles/workflow.md
Labels: articles

Modif lien relatif
  content/articles/workflow.md
Labels: articles

deps: bump dependencis
  requirements-insiders.txt
  requirements.txt
Labels: dependencies

fix: privacy cache dir path
  mkdocs.yml
Labels: mkdocs

ci: remove verbose mode
  .github/workflows/deploy.yml
  .github/workflows/pr_checker_build.yml
Labels: none

fix: relative link missing md extension
  content/articles/workflow.md
Labels: articles

fix: mauvais lien relatif
  content/articles/workflow.md
Labels: articles

guide: MAJ le guide de signature des contenus
  content/guides/authoring.md
  content/team/julien-moura.md
Labels: none

Ajout sous-itre gource
  content/internal/video_contributions_gource.md
Labels: géocapot

chore(deps): bump theme to latest version
  requirements-insiders.txt
Labels: none

fix: typo
  content/internal/video_contributions_gource.md
Labels: géocapot

tooling(gource): ajoute la commande git shortlog pour consolider la mailmap
  content/internal/video_contributions_gource.md
Labels: géocapot

tooling: consolide le mailmap
  .mailmap
Labels: none

typo
  content/edit/local_edition_setup.md
Labels: none

chore(deps): update theme to latest version
  requirements-insiders.txt
Labels: none

outillage(gource): MAJ le guide Gource avec les évolutions 2024
  content/internal/video_contributions_gource.md
Labels: géocapot

fix(mkdocs): exclude team from social cards
  mkdocs.yml
Labels: mkdocs

improve(socialcards): ajoute un sous-titre aux manquantes
  content/internal/git_hooks_precommit.md
  content/internal/markdown_linter.md
  content/internal/seo_extraits_enrichis.md
  content/internal/social_cards.md
Labels: géocapot

typo
  content/internal/video_contributions_gource.md
Labels: géocapot

outillage(cleanup): nettoyage de printemps
  content/internal/auto_newsletter.md
  content/internal/backup.md
Labels: géocapot

feature(templating): applique les mêmes templates que sur le site principal pour les social cards etc
  content/theme/main.html
  content/theme/partials/cards_opengraph.html.jinja2
  content/theme/partials/cards_twitter.html.jinja2
  content/theme/partials/json_feed.html.jinja2
  content/theme/partials/license.html.jinja2
  content/theme/partials/schemas.html.jinja2
  hooks/macros/__init__.py
  hooks/macros/custom_jinja.py
  hooks/mkdocs/G005_jinja_filters.py
  mkdocs-free.yml
  mkdocs.yml
Labels: mkdocs

chore(deps): ajoute la dépendance à Geotribu
  requirements.txt
Labels: dependencies

fix(socialcards): corrige l'image et le schéma pour la page d'accueil
  content/index.md
  content/theme/main.html
  content/theme/partials/schemas.html.jinja2
  hooks/mkdocs/G003_social_cards_adapter.py
  mkdocs.yml
Labels: mkdocs

hotfix: supprime les balises de dév
  content/index.md
Labels: none

chore(deps): MAJ le thème
  requirements-free.txt
  requirements-insiders.txt
Labels: none

guide(authoring): adapte aux évolutions du bloc signature
  content/guides/authoring.md
Labels: none

misc: add icons
  content/articles/publish.md
  content/articles/workflow.md
  content/rdp/add_news.md
Labels: articles

Add image weight mention
  content/guides/cdn-images-hebergement.md
Labels: none

add admonition guide
  content/guides/.pages
  content/guides/admonition.md
Labels: mkdocs

fix md lint errors
  content/guides/admonition.md
Labels: none

edit admonitions guide
  content/guides/admonition.md
Labels: none

chore(deps): MAJ thème
  requirements-insiders.txt
Labels: none

chore(deps): MAJ le plugin RSS
  mkdocs-free.yml
  mkdocs.yml
  requirements.txt
Labels: dependencies, mkdocs

Update content/guides/admonition.md
  content/guides/admonition.md
Labels: none

Update content/guides/admonition.md
  content/guides/admonition.md
Labels: none

inverser markdown / rendu
  content/guides/admonition.md
Labels: none
