Repository geotribu/site-contribuer, changes with the labels that .github/labeler.yml gives for each.
All labels: articles, dependencies, géocapot, mkdocs

.github/labeler.yml:

articles:
    - changed-files:
          - any-glob-to-any-file:
                - content/articles/**/*.md

dependencies:
    - changed-files:
          - any-glob-to-any-file:
                - requirements/*.txt
                - requirements.txt

géocapot:
    - changed-files:
          - any-glob-to-any-file:
                - content/internal/**/*

mkdocs:
    - changed-files:
          - any-glob-to-any-file:
                - config/**
                - content/**/*.pages
                - hooks/**
                - mkdocs*.yml

outillage:
    - changed-files:
          - any-glob-to-any-file:
                - .devcontainer/**
                - .github/**
                - .pre-commit-config.yaml
                - .vscode/**/*
                - .docker
                - .lincheckrrc
                - .mailmap
                - .markdownlint*
                - docker*
                - Dockerfile
                - scripts/**
    - head-branch:
          - ^ci
          - ci
          - ^tooling
          - tooling

rdp:
    - changed-files:
          - any-glob-to-any-file:
                - content/rdp/**/*.md
    - head-branch:
          - ^rdp
          - rdp

thème:
    - changed-files:
          - any-glob-to-any-file:
                - content/theme/**/*
                - requirements-insiders.txt
    - head-branch:
          - theme
          - ^theme

update(guide): ajoute message type pour la relecture sur Slack
  content/articles/prereview.md
Labels: articles

update(guide): ajoute bouton suivant vers la relecture
  content/articles/prereview.md
Labels: articles

fix(seo): remove .md suffix on render tab
  content/guides/markdown_quality.md
Labels: none

edit(site): retrait logo facebook et ajout bluesky
  config/extra_social.yml
  content/articles/prereview.md
  content/articles/publish.md
  content/index.md
Labels: articles, mkdocs

edit(site): retrait doublons bluesky
  content/articles/prereview.md
  content/articles/publish.md
Labels: articles

edit(site): modif diffusion LinkedIn
  content/rdp/publish.md
Labels: none

edit(site): remplacer logo facebook par bluesky
  config/extra_social.yml
Labels: mkdocs

edit(site): retrait logo facebook et ajout bluesky (#126)
  config/extra_social.yml
  content/index.md
  content/rdp/publish.md
Labels: mkdocs

add(licence): ajout de la licence CC BY
  content/guides/licensing.md
Labels: none

add(licence): ajout du fichier de la licence CC BY
  content/toc_nav_ignored/snippets/licenses/cc4_by.md
Labels: none

update(theme): maj en 9.6
  requirements-free.txt
  requirements-insiders.txt
Labels: none

update(mkdocs): mutualise la configuration du plugin tags
  config/plugins_tags.yml
  mkdocs-free.yml
  mkdocs.yml
Labels: mkdocs

update(css): ajout classes images
  content/theme/assets/stylesheets/extra.css
Labels: none

update(guide): astuce pour gérer les encarts multilignes et/ou indentés
  content/guides/admonition.md
Labels: none

update(guide): astuce pour gérer les encarts multilignes et/ou indentés
  content/guides/admonition.md
Labels: none

update(guide): astuce pour gérer les encarts multilignes et/ou indentés
  content/guides/admonition.md
Labels: none

edit(guide): ajout désactivation règle md linter pour mastodon
  content/guides/mastodon.md
Labels: none

Update content/guides/mastodon.md
  content/guides/mastodon.md
Labels: none

update(mkdocs): move git committers plugin to config subfolder
  config/plugins_git-committers.yml
  mkdocs.yml
Labels: mkdocs

add(interna): amorce page détaillant la gestion des DNS
  content/internal/backup.md
  content/internal/domains.md
Labels: géocapot

Update content/internal/domains.md
  content/internal/domains.md
Labels: géocapot

add(interna): ajout détails mails
  content/internal/domains.md
Labels: géocapot

add(interna): ajout détails mails
  content/internal/domains.md
Labels: géocapot

edit(article): ajout mention PR
  content/articles/workflow.md
Labels: articles

template(rdp): renommage rubrique geordp
  content/rdp/structure_news.md
Labels: none

update(theme): MAJ version du thème Material for Mkdocs
  requirements-free.txt
  requirements-insiders.txt
Labels: none

update(theme): MAJ version du thème Material for Mkdocs
  requirements-insiders.txt
Labels: none

update(tooling): refine VS Code config
  .vscode/extensions.json
  .vscode/settings.json
Labels: none
