Repository geotribu/site-contribuer, pull requests merged in 2024-07, with the labels that each got.

#89 Ajout guide admonitions
  content/guides/.pages
  content/guides/admonition.md
Labels: mkdocs

#93 tooling: seo et monitoring
  content/internal/seo_monitoring.md
Labels: géocapot, outillage

#96 feature(analytics): ajoute le code de suivi Matomo
  .github/workflows/deploy.yml
  content/theme/partials/integrations/analytics/matomo.html
  mkdocs-free.yml
  mkdocs.yml
Labels: mkdocs, thème, outillage
